<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>original.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EFA52C81D12FCAB003AA2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EFA52DC1D12FCAC003AA2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EFA52E71D12FCAC003AA2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
